.ship {
  /*border: solid 1px #f00;*/
}

.shipId {
  font-size: 0.88rem;
}

.shipHp {
  height: 3px;
}

.shipMeta {
  font-size: 0.88rem;
}

.fleet {
  /*border: dashed 1px #f00;*/
}

.fleetHeading {
  font-size: 1.2rem;
  white-space: nowrap;
}

/* Key-Value fields */
.kvField {
  /*border: solid 1px #f00;*/
  overflow: hidden;
}

.kvField:nth-child(2n) {
  /*border: solid 1px #f00 !important;*/
}

.kvName,
.kvValue {
  /*border: dashed 1px #f00;*/
}

.kvName {
  font-size: 0.88rem;
}

.kvValue {
  font-size: 1.5rem;
}
