.appUiWrap {
  /*border: dashed 2px #f00;*/
}

.appUi {
  display: flex;
  flex-direction: column;
  /*border: solid 1px #f00;*/
  height: 100vh;
  overflow: hidden;
}

.uiCols {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
}

.uiMain {
  width: 800px;
}

.uiSide {
  flex-basis: 0;
  flex-grow: 1;
}

.body {
  padding: 0.25rem 0.5rem;
}

.spacer {
  flex-basis: 0;
  flex-grow: 1;
}

.groupLabel {
  font-weight: 500;
}

.toolbar {
  display: flex;
  /*border: solid 1px #f00;*/
  align-items: center;
}
