.titleBar {
  background-color: #37474F;
  display: flex;
  height: 40px;
  text-align: center;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  align-items: center;
  justify-content: center;
}

.titleText {
  color: #fff;
}

.controls {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 2px;
}
