@import '~normalize.css/normalize';
@import 'variables';
@import 'views/mainview';
@import 'components/lists';
@import 'components/topmenu';
@import 'components/sidebar';
@import 'components/webview';
@import 'components/kvf';
@import 'components/data';
@import 'components/ship';

* {
  box-sizing: border-box;
}

#root {
  overflow: hidden;
}

body {
  background-color: $background-color;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.mainview__top {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.view {
  display: flex;
  height: calc(100vh - 2.5rem);
}

.view__main {
  // border: solid 1px $primary-border-color;
  flex: 1;
}

.view__sidebar {
  border-left: $primary-border;
  width: 20rem;
}

ul {
  &.unstyled {
    list-style: none;
    padding: 0;
  }
}
