@import '~material-colors/dist/colors';
@import '~bootstrap/scss/variables';

$font-family-sans-serif: 'HK Grotesk';

// $body-bg: $md-blue-grey-800;
// $body-color: #fff;

$title-bar-bg: $md-blue-grey-500;

$code-bg: darken($md-blue-grey-900, 5%);
$code-color: rgba($body-color, .7);

button, .btn {
	font-family: $font-family-sans-serif;
}


