@import '../variables';

.mainview__body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;

  > .webview__body {}

  > .dataview__body {
    overflow: auto;
  }
}

.mainview__top,
.mainview__bottom {
  height: 2.5rem;
}

.mainview__top {
  border-bottom: $primary-border;
}

.mainview__bottom {
  border-top: $primary-border;
}

// Display data
.dataview__body {
  // padding: $base-pad;

  .ship-list {
    margin-top: 1rem;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;

    > .ship {
      width: (100% / 2);
      padding: 0.5rem;
    }
  }
}

.sectioned {
  &__row {
    display: flex;
    flex-direction: row;

    & + & {
      border-top: $primary-border;
    }
  }

  &__col {
    padding: $base-pad;
    & + & {
      border-left: $primary-border;
    }
  }

  .data {
    margin: -($base-pad);
    padding: $base-pad;
  }

  .data + .data {
    border-top: $primary-border;
  }
}
