@import '../../variables';

.fleet {
  // border: solid 1px #f00;

  &__header {
    border-bottom: $primary-border;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &__name {
    font-size: $font-size-h2;
    font-weight: bold;
  }

  &__state {
    color: $secondary-text-color;
  }
}
