@import '../../variables';

// Single ship
.ship {
  > .flex__row {
    margin-top: $base-pad;
    &:first-child { margin-top: 0; }
  }

  &__name {
    font-size: 1.25rem;
    font-weight: bold;
    flex-basis: 1;
  }

  &__morale {
    color: $secondary-text-color;
  }

  &__health {
    height: 1rem;
    width: 80%;
  }
}

