@import '../variables';

// Single ship
.ship {
  > .row {
    display: flex;
    justify-content: space-between;
    margin-top: $base-pad;

    &:first-child { margin-top: 0; }
  }

  &--name {
    font-size: 1.25rem;
    font-weight: bold;
    flex-basis: 1;
  }

  &--health { width: 80%; }
}

