$base-pad: 0.625rem;

$background-color: #fff;
$secondary-bg-color: #fff;

$primary-border-color: #ededed;
$primary-border: solid 0.125rem $primary-border-color;

// Sections
$section-header-font-size: 0.825rem;
